* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul {
    list-style: none;
}
.home {
    height: 100vh;
    background-image: url('./img/drew-coffman-1872.jpg');
    background-size: 100% 100%;
}
.layer {
    background-color: rgba(0, 0, 0, 0.63);
    height: 100%;

}
.container {
    width: 100%;
    margin: auto;
}
.main {
    background-color:white;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
}
.logo {
    width: 15%;
    float: left;
}
.logo img {
    width: 103%;
}
.links {
    float: right;
}
.home .links li {
    float: left;
    margin-right: 25PX;
    padding: 0px 10px;
}
.clear {
    clear: both;
}
.links ul,
.about-content ul {
    list-style: none;
}
.links a {
    color: #8F7854;
    text-decoration: none;
    font-size: 18px;
}
.content {
    text-align: center;
    transform: translateY(60%);
    color: white;
}
.content h1 {
    font-size: 60px;
    font-weight: lighter;
    margin: 20px 0;
    font-family: 'Raleway', sans-serif;
}
.content p {
    font-size: 20px;
    margin: 15px 0px;
    font-family: 'Raleway', sans-serif;
}
.btn {
    padding: 18px 20px;
    border-radius: 8px;
    border: none;
    color: white;
    font-size: 20px;
    margin: 20px 15px;
    font-family: 'Alegreya', serif;
    cursor: pointer;
}
.learn {
    background-color: #8f7854be
}
.learn:hover{
    background-color: white;
    color: black;
}
.contact {
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid white;
}
.header{
    padding: 70px 70px;
}
.headerimg{
    width: 50%;
    float: left;
    padding: 73px 10px;
}
.headerimg img{
    width: 440px;
    height: 450px;
}
.headertext{
    width: 50%;
    float: left;
    padding: 100px 0;
}
.headertext p,li{
    color:#000000a9 ;
    font-family: 'Raleway', sans-serif;
}
.headertext h2{
    margin: 20px 0;
    font-size: 30px;
    font-family: 'Raleway', sans-serif;
}
.headertext p,.headertext li{
    margin: 20px 0;
    font-family: 'Raleway', sans-serif;
}
i {
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    border: 1px solid rgba(128, 128, 128, 0.582);
    padding: 10px;
    margin-right: 10px;
  }
.locationimg{
    width: 43%;
    float: right;
}
.locationimg img{
    width: 500px;
    height: 450px;
}
.locationtext{
    width: 50%;
    float: right;
    padding: 114px 0;
    margin-right: 35px;
    font-family: 'Raleway', sans-serif;
}
.locationtext p , .locationtext h2{
    color:#000000a9 ;
    margin: 20px 0;
    font-family: 'Raleway', sans-serif;
}
.tital{
    text-align: center;
    padding: 50px 0px;
}
.tital p {
    color: #000000a9;
    font-family: 'Raleway', sans-serif;
}
.tital h2{
    padding: 20px 0;
    font-size: 30px;
    font-family: 'Raleway', sans-serif;
}
.item img{
    width: 90%;
}
.item h3{
    padding: 20px 0;
    font-family: 'Raleway', sans-serif;
}
.item{
    float: left;
    text-align: center;
    width: 33.3%
}

.contract i{
    background-color:#8e7754;

}
.contract-img{
    
    float: right;
    width: 45%;
}
.contract-img img{
    width: 550px;
    height: 450px;
    
}
.contract-content{
    
    float: left;
    padding: 11px 62px;
}
.contract-content h2{
    font-size: 30px;
    margin: 20px 0;
    font-family: 'Raleway', sans-serif;
}
.contract-content h2,p,li{
    margin: 20px 0;
    font-family: 'Raleway', sans-serif;
}
.contract-content p,ul,ul li{
    color: #000000a9;

}
.contact-details{
    background-color: #403d38;
}
.contact-row{
    width: 25%;
    padding: 100px 10px;
    float: left;
}
.contact-details .contact-row h3{
color: white;
font-family: 'Raleway', sans-serif;

}
.contact-details .contact-row li{
    border-bottom:1px solid #96959018;
}
.contact-details .contact-row li,p,a{
    text-decoration: none;
    color: #969590;
    font-family: 'Raleway', sans-serif;
}
.contact-details i{
   background-color: transparent;
   border-color: transparent;
   padding: 0;
   
}
.contact-details{
    background-color: #403d38;
}
.contact-row{
    width: 25%;
    padding: 100px 10px;
    float: left;
}
.contact-details .contact-row h3{
color: white;
font-family: 'Raleway', sans-serif;
}

.contact-details .contact-row li{
    border-bottom:1px solid #96959018;
}
.contact-details .contact-row li,p,a{
    text-decoration: none;
    color: #969590;
    font-family: 'Raleway', sans-serif;
}
.contact-details i{
   background-color: transparent;
   border-color: transparent;
   padding: 0;
   
}
.footer{
    background-color: #353330;
    
}
.footer-content{
    text-align: center;
    padding: 70px 0;
}
 .footer .footer-content i{
 background-color:rgba(128, 128, 128, 0.479);
  border: none; 
 height: 40px;
width: 40px;
font-size: 20px;
 cursor: pointer; 

} 
.footer .footer-content .fa-facebook:hover{
background-color:#0d3386 ;

}
.footer .footer-content .fa-google-plus-g:hover{
background-color:cornflowerblue;
}
.footer .footer-content .fa-linkedin:hover{
background-color:#2252b8 ;
}
.footer .footer-content .fa-twitter:hover{
background-color: #00ACED;
}